@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;500&display=swap");

/*--- Global ---*/

:root {
    --grey: #b4bec9;
    --blue-green: #159a9c;
    --black-blue: #002333;
    --green-white: #deefe7;
    --white: #ffffff;
    --black: #000000;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Alegreya Sans", sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    display: inline;
    color: var(--black);
}

.grid__container {
    max-width: 980px;
    margin: auto;
}

/* --- HEADER --- */

.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header_logo {
    font-size: 30px;
    color: var(--blue-green);
}

.header_content-down {
    background: var(--white);
}

.header_content {
    box-sizing: border-box;
    padding: 0 15px 0;
    display: flex;
    height: 50px;
    width: 980px;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
}

.navbar_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.navbar_btn {
    display: flex;
    text-decoration: none;
    list-style: none;
    height: 30px;
    width: 80px;
    justify-content: center;
    align-items: center;
}

.navbar_element {
    color: var(--blue-green);
}

.navbar_element:hover {
    display: flex;
    color: var(--white);
    background-color: var(--blue-green);
    border-radius: 30px;
    height: 30px;
    width: 80px;
    justify-content: center;
    align-items: center;
}

/* --- MAIN --- */

.main {
}

/* --- PERFIL --- */

.perfil {
    background: linear-gradient(
        0deg,
        rgba(21, 154, 156, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    height: 600px;
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.perfil_foto {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    box-shadow: 0px 3px 10px black;
}
.perfil_name {
    font-size: 30px;
    height: 40px;
    width: 300px;
    color: var(--blue-green);
    margin-bottom: 10px;
    background-color: #ffffffcc;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil_ocupation {
    font-size: 20px;
    color: var(--white);
    margin: 0;
}

/* --- ABOUT --- */

.about {
    background-color: #deefe7;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.about_title {
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size: 30px;
}

.about_description {
    margin: 0 80px 20px;
    padding: 20px;
    background-color: #159a9c;
    color: var(--white);
    border-radius: 20px;
}

.about_content {
    width: 800px;
}

.about_content-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.about_date {
    background-color: #159a9c;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: var(--white);
    font-weight: 500;
}
.about_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* --- TECH SKILLS --- */

.techSkills {
    background-color: var(--white);
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--black-blue);
}
.techSkills_title {
    font-size: 30px;
}

.techSkills_subtitle {
    font-size: 15px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

.techSkills_content {
    box-sizing: border-box;
    margin: 0 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 35px;
}

.techSkills_element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techSkills_logo {
    height: 65px;
    width: 70px;
}

.techSkills_data {
    height: 40px;
    width: 110px;
    background: var(--black-blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/* --- GALERY --- */



/* --- FOOTER --- */
.footer {
    background-color: #159a9c;
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: auto;
}
.footer_container {
    width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer_image {
    width: 50px;
    height: 50px;
}

.footer_rrdd {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.footer_email {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    height: 80px;
    width: 230px;
    justify-content: center;
    border-radius: 30px;
}

.footer_email-title {
    font-size: 20px;
    color: var(--blue-green);
    margin: 0;
}

.footer_email-data {
    font-size: 15px;
    color: var(--blue-green);
    margin: 0;
}

.footer_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    height: 80px;
    width: 150px;
    justify-content: center;
    border-radius: 30px;
}

.footer_phone-title {
    font-size: 20px;
    color: var(--blue-green);
    margin: 0;
}

.footer_phone-data {
    font-size: 15px;
    color: var(--blue-green);
    margin: 0;
}

.footer_copyright {
    color: var(--white);
    font-size: 15px;
    padding-top: 30px;
    margin: 0;
}
